<h1>List of posts</h1>  

<%= link_to 'Make new post!', new_article_path %>
<br><br>
<table cellpadding="10" cellspacing="5" width="90%">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Created at</th>
    </tr>

    <% @articles.reverse.each do |article| %>
  <tr>
    <td><b> <%= link_to article.title.mb_chars.titleize, article_path(article) %></b></td>
    <td> <%= article.text %> </td>
    <td> <%= article.created_at.getlocal.strftime("%m/%d/%Y %H:%M") %></td>
  </tr>
  <% end %>
</table>