<h1>Welcome#index</h1>


<%= link_to 'list of posts', controller: 'articles' %>
<br>
<%= link_to 'Make new post!', new_article_path %>
<br>
<%= link_to 'Users authentification', controller: 'users' %>
<br>
<%= link_to 'Sing in', '/signin' %>